script
  :coffee

    $('section.content-header').empty().append('''
      <h1>#{Vars.singleTitleModel}
        <small> Nuev#{Vars.letraGenero}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Configuraciones</a></li>
        <li><a href="/#{Vars.pluralmodel}">#{Vars.titlemodel}</a></li>
        <li class="active">Nuev#{Vars.letraGenero}</li>
      </ol>''')