- var subtitle = Vars.instanciaModel.name
include ../includes/show/subhead
include ../includes/show/breadcrumb
.row
  .col-md-12
    a.btn.btn-sm.btn-primary#btBackToList(href="/#{Vars.pluralmodel}", style="margin-right: 5px;")
      i.fa.fa-arrow-left
      |  Volver a la lista
    a.btn.btn-sm.btn-success(href="/localidades/new?p=#{Vars.instanciaModel.id}", style="margin-right: 5px;")
      i.fa.fa-plus
      |  Agregar nueva localidad
    include ../includes/show/btns_right
br

.row
  .col-md-12
    .box.box-info
      .box-header
        h4.box-title Detalles
      .box-body
        table.table
          tbody
            tr
              th Pais
              td#pais
            tr
              th Latitud
              td #{Vars.instanciaModel.lat}
            tr
              th Longitud
              td #{Vars.instanciaModel.long}

.row
  .col-md-12
    .box.box-info
      .box-header
        h4.box-title Localidades
      .box-body
        include ../includes/index/table
        include ../includes/index/coffees

!= javascriptIncludeTag('meg/utils/server', 'meg/utils/select', 'meg/utils/gui')

script
  :coffeescript

    meg.gui.showRefName 'paises', 'name', '#{Vars.instanciaModel.pais}', '#pais', true, () ->

    @itemsUrl = '/provincias/getLocalities/#{Vars.instanciaModel.id}'
    @listaordenada = () ->
      [
        name: "name"
        showname: "Nombre"
        params: [ "id","name" ]
        parser: (ide, value) =>
          '<a href="/localidades/' + ide + '">' + value + '</a>'
      ]